<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=None">
  <meta charset="utf-8">
  <style type="text/css">
.d1, .f1, .d2, .f2, .d3, .f3, .d4, .f4, .d5, .f5, .d6, .f6, .row_text{
  position:absolute;
  left:0;
  background:white;
}
.d1, .d2,  .d3,  .d4, .d5, .d6, .dir{ font-weight: bold;color: #0d38e2; }

.d1, .f1 { color: #0000FF;}
.d2, .f2 { color: #00FF00;}
.d3, .f3 { color: #FF0000;}
.d4, .f4 { color: #FFFF00;}
.d5, .f5 { color: #FF00FF;}
.d6, .f6 { color: #00FFFF;}
.row {width:{{ page_number_pos }}px;position:relative;color=green;}
.right {position:absolute;right:0;background:white;}

  </style>
</head>
<body>
  <!--<h2>Gurux DLMS</h2>-->
<pre><code>
_____/\\\\\\\\\\\\____________________________________________________________________/\\\\\\\\\\\\_____/\\\______________/\\\\____________/\\\\_____/\\\\\\\\\\\___        
 ___/\\\//////////____________________________________________________________________\/\\\////////\\\__\/\\\_____________\/\\\\\\________/\\\\\\___/\\\/////////\\\_       
  __/\\\_______________________________________________________________________________\/\\\______\//\\\_\/\\\_____________\/\\\//\\\____/\\\//\\\__\//\\\______\///__      
   _\/\\\____/\\\\\\\__/\\\____/\\\__/\\/\\\\\\\___/\\\____/\\\__/\\\____/\\\___________\/\\\_______\/\\\_\/\\\_____________\/\\\\///\\\/\\\/_\/\\\___\////\\\_________     
    _\/\\\___\/////\\\_\/\\\___\/\\\_\/\\\/////\\\_\/\\\___\/\\\_\///\\\/\\\/____________\/\\\_______\/\\\_\/\\\_____________\/\\\__\///\\\/___\/\\\______\////\\\______    
     _\/\\\_______\/\\\_\/\\\___\/\\\_\/\\\___\///__\/\\\___\/\\\___\///\\\/______________\/\\\_______\/\\\_\/\\\_____________\/\\\____\///_____\/\\\_________\////\\\___   
      _\/\\\_______\/\\\_\/\\\___\/\\\_\/\\\_________\/\\\___\/\\\____/\\\/\\\_____________\/\\\_______/\\\__\/\\\_____________\/\\\_____________\/\\\__/\\\______\//\\\__  
       _\//\\\\\\\\\\\\/__\//\\\\\\\\\__\/\\\_________\//\\\\\\\\\___/\\\/\///\\\___________\/\\\\\\\\\\\\/___\/\\\\\\\\\\\\\\\_\/\\\_____________\/\\\_\///\\\\\\\\\\\/___ 
        __\////////////_____\/////////___\///___________\/////////___\///____\///____________\////////////_____\///////////////__\///______________\///____\///////////_____


</code></pre>
</br>
</br>
</br>
{{ entries }}
</body>
</html>
