name: Code to pdf test
on: push
jobs:
    test-1:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository code
              uses: actions/checkout@v2
              with: 
                python-version: '3.x'
                #            - name: List files in the repository
                #              run: |
                #                ls 
                #                pwd
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade setuptools wheel
                  sudo apt install wkhtmltopdf
            - name: Install package 
              run: python -m pip install  ./
            - name: Run test 
              run: python ./tests/test_cli.py
            - name: Run coverage 
              run: | 
                   python -m pip install --upgrade coverage
                   python -m coverage run --source=code_to_pdf -m code_to_pdf ./
                   python -m coverage xml -i
            - uses: codecov/codecov-action@v1
              with:
                token: c70aa5e5-5e97-45e5-8c04-5fe781a1f5e0
                files: ./coverage.xml
            - name: Run coverage 
              run: | 
                   python -m pip install pylint 
                   python -m pylint --exit-zero code_to_pdf
